body{
    margin: 0;
    padding: 0;
    background: #dedede;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.calculator, #result {
    width: 600px;
    border: 1px solid #bebebe;
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
}

#result {
    display: none;
}
